<p id="notice"><%= notice %></p>

<p>
  <b>Distribuidora:</b>
  <%= @distribuidora.distribuidora %>
</p>


<%= link_to 'Edit', edit_distribuidora_path(@distribuidora) %> |
<%= link_to 'Back', distribuidoras_path %>
